<footer class="footer">
    <div class="footer-top">
        <a href="#top" class="back-to-top">Regresar al inicio</a>
    </div>
    <div class="footer-middle">
        <div class="footer-column">
            <h4>Conócenos</h4>
            <ul>
                <li><a href="/acerca_de_nosotros/">Acerca de nosotros</a></li>
                <li><a href="#">Sostenibilidad</a></li>
            </ul>
        </div>
        
        <div class="footer-column">
            <h4>Podemos ayudarte</h4>
            <ul>
                <li><a href="/mis_pedidos/">Mispedidos</a></li>
                <li><a href="/preguntas_frecuentes/">FAQ</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2024 Amazonas. Todos los derechos reservados.</p>
    </div>
</footer>
