{% load static %}

    <div class="header">
        <a href="{% url 'index' %}" class="logo">Amazonas</a>
        <a href="{% url 'index' %}" class="logo">
            <img src="{% static 'imagenes/Alogo.png' %}" alt="Carrito" width="60" height="60">
        </a>
    
        <div class="search-bar">
            <form action="{% url 'buscar' %}" method="get" class="search-bar">
                <input type="text" id="searchInput" name="q" placeholder="Buscar productos">
                <button type="submit" id="searchButton">Buscar</button>
            </form>
        </div>
    
        <div class="user-section">
            <!-- Enlace a Mis Pedidos -->
            {% if user.is_authenticated %}
                <div class="orders">
                    <a href="{% url 'mostrar_pedidos' %}" style="font-size: 15px; color: white; margin-left: 15px;">Mis Pedidos</a>
                </div>
            {% endif %}
    
            <div class="cart">
                <img src="{% static 'imagenes/carrito.png' %}" alt="Carrito" width="30" height="30">
                <a href="{% url 'carrito' %}" style="font-size: 15px; color: white; margin-left: 5px;">Carrito</a>
            </div>
        </div>

        <div class="user-section">
            {% if user.is_authenticated %}
                <div class="greeting">
                    <p style="color: white; font-size: 15px; margin-left: 5px;">¡Hola, {{ user.username }}!</p>
                    <a href="{% url 'logout' %}" style="font-size: 15px; color: white; margin-left: 5px;">Cerrar sesión</a>
                </div>
            {% else %}
                <div class="login">
                    <img src="{% static 'imagenes/ic.png' %}" alt="Inicio de sesión" width="30" height="30">
                    <a href="{% url 'inicio' %}" style="font-size: 15px; color: white; margin-left: 5px;">Inicio de Sesión</a>
                </div>
            {% endif %}
        </div>
    </div>
    